@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6eee3;
  opacity: 1;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #867a5e, #867a5e 1px, #ddc9ad 1px, #ddc9ad);
}

.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  border-left: 30px solid white; 
  border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
  border-image-width: 0px 0px 0px 30px;
  box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 0.308);
}

h2{
background-color: white;
margin: 0;
font: 24px 'Shadows Into Light', cursive;
font-size: 46px;
text-align: center;
color: #4490c2;
}

table{
  font-family: 'Shadows Into Light', cursive;
  border: 2px solid #4490C2;
  background-color: #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}

 td, th {
  border: 5px solid #FFFFFF;
  padding: 5px 10px;
}
 tbody td {
  font-size: 22px;
  font-weight: bold;
  color: #474747;
}

a{
  text-decoration: none;
  color: #f82929;  
}

.content{
    background-color: white;
}

.button{
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    color: #ff1f88;
    background: transparent;
    cursor: pointer;
}